<h1 class="heading">{{title}}</h1>

<h1 class="heading">Sharajman Records</h1>

<div class="d-flex justify-content-center">
  <div class="spinner-border text-success" *ngIf="loader" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<table border="1px">
  <tr>
    <th>Serial No</th>
    <th>Employee Code</th>
    <th>Full Name</th>
    <th>Department</th>
    <th>Designation</th>
    <th>Company Name</th>
  </tr>

  <tr *ngFor="let user of paginatedData;">
    <td>{{id}}</td>
    <td>{{user.emp_code}}</td>
    <td>{{user.full_name}}</td>
    <td>{{user.department}}</td>
    <td>{{user.designation}}</td>
    <td>{{user.company_name}}</td>
  </tr>
</table>
<br>

<app-pagination 
[totalItems]="users.length" 
[ItemsPerPage]="10" 
[currentPage]="1"
(onClick)="changePage($event)">
</app-pagination>